#pageDiv {
    display: flex;
    font-family: Arial, Helvetica, sans-serif; 
}

#editContainer {
    text-align: center;
    border: 15px dotted #CAEBF2;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#listContainer {
    text-align: center;
    list-style-type: none;
    border: 1px solid black;
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

#crudContainer {
    
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border: 2px solid black;
    padding: 10px;
}

.containerFieldset {
    display: flex;
    flex-direction: column
}

.nameStyling {
    background-color: #FF3B3F;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;

}

.descStyling {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.descInput {}

.costStyling {
    background-color:  #EFEFEF;
    display: flex;
    flex-direction: column;
}

.cityStyling {
    background-color: #CAEBF2;
    display: flex;
    flex-direction: column;
}

.btnStyling {
    background-color: #A9A9A9;
    color: white;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
    text-align: left;
    margin-left: 10px;
  }

.header {
    text-align: center;
    background-color: #CAEBF2;
    padding: 10px;
    margin: 0px;
}
/* THE LI CONTAINERS STYLE THE 3 CITY CONTAINERS */
#articleId--1 {
    background-color: #EFEFEF;
    border: 1px solid black;
    flex-basis: 33%;
    margin: 1px;
}
#articleId--2 {
  background-color: lightgray;
  border: 1px solid black;
  flex-basis: 33%;
  margin: 1px;
}

#articleId--3 {
  background-color: #EFEFEF;
  border: 1px solid black;
  flex-basis: 33%;
}

.listItemContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    flex-basis: 20%;
}

.vnameInterestHeader {
    background-color: #FF3B3F;
    font-size: 1.25ps;
    font-weight: 600;
    color: white;
    padding: 10px;
    margin: 0;
}

.costList {
    margin: 0;
    margin-top: 5px;
}

.reviewLabel {
    margin: 3px;
}