.listItemContainer {
    border: 2px solid black;
}

.ulClass {
    border: 3px solid black;
    background-color: #CAEBF2;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.editContainer {
    border: 2px solid #FF3B3F;
}

.containerFieldset {
    display: flex;
    flex-direction: column;
}

.nameStyling {
    background-color: #FF3B3F;
    display: flex;
    flex-direction: column;
}

.descStyling {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.costStyling {
    background-color:  #EFEFEF;
    display: flex;
    flex-direction: column;
}

.cityStyling {
    background-color: #CAEBF2;
    display: flex;
    flex-direction: column;
}

.addBtnStyling {
    background-color: #A9A9A9;
    color: white;
}

.label {
    margin-right: 15px;
    line-height: 32px;
  }

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: fade(white, 80%);
  text-align: center;
}

li a:hover{
      color: white;
  }

.active {
  background-color: #F7F4E9;
}

.liOne {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: space-around;
}

.liTwo {
  background-color: white;
  border: 1px solid black;
}

.liThree {
  background-color: #EFEFEF;
  border: 1px solid black;
}

.liFour {
  background-color: lightgrey;
  border: 1px solid black;
}
  
/* .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 2px;
  
    position: relative;
    top: 4px;
  } */